.stButton button,
.stFileUploader input {
    background-color: #FFFFFF !important;
    color: #7792E3;
}

/* Background color for the main content area */
.main {
    background-color: #101724;
}

/* Background color for sidebar and most interactive widgets */
.stSidebar {
    background-color: #324851;
}

/* Color used for almost all text */
.reportview-container .markdown-text-container,
.reportview-container p,
.reportview-container h1,
.reportview-container h2,
.reportview-container h3,
.reportview-container h4,
.reportview-container h5,
.reportview-container h6 {
    color: #FFFFFF;
    font-family: sans-serif;
}
.stButton button:hover,
.stButton button:hover,
.stButton button:hover,
.stFileUploader input:hover {
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.7), 0 0 30px rgba(255, 105, 180, 0.5);
    /* Pink flame effect */
}
